[Unit]
Description=Daemon OCR citatii CA Galati
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash /home/localadmin/ocr/ocrd
ExecStop=/bin/kill -- $MAINPID
KillMode=control-group
RemainAfterExit=no
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
